button {
  box-sizing: border-box;
  color: white;
  background-color: lightcoral;
  border: none;
  width: 100px;
  height: 40px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: lightcoral;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  background-color: gainsboro;
  border: 15px solid lightgoldenrodyellow
}


.classify {
  background-color: lightsalmon;
}

.prediction {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 800;
  color: lightskyblue;
}