.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam {
  width: 244px;
  height: 244px;
  margin-bottom: 10px;
  background-color: gainsboro;
}

button {
  box-sizing: border-box;
  color: white;
  background-color: lightcoral;
  border: none;
  width: 100px;
  height: 40px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
}

.classify {
  background-color: lightsalmon;
}
